/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

section {
  margin-bottom: 40px;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #007bff;
  color: #fff;
}

/* Buttons */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  margin: 10px;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #004085;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: white;
  margin: 5% auto;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

button[type="submit"] {
  width: 100%;
  background-color: #28a745;
  border: none;
}

button[type="button"] {
  background-color: #dc3545;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 10px;
  }

  table {
    font-size: 14px;
  }
}
